[submodule "src/native/godot-cpp"]
	path = src/native/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
[submodule "src/native/thirdparty/mesh_optimizer/meshoptimizer"]
	path = src/native/thirdparty/mesh_optimizer/lib/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "native/thirdparty/mesh_optimiser/lib"]
	path = native/thirdparty/mesh_optimiser/lib
	url = https://github.com/zeux/meshoptimizer
[submodule "native/thirdparty/mesh_optimizer/lib"]
	path = native/thirdparty/mesh_optimizer/lib
	url = https://github.com/zeux/meshoptimizer
[submodule "addons/monitor_overlay"]
	path = addons/monitor_overlay
	url = https://github.com/HungryProton/monitor_overlay.git
