# kafka config
config/kafka.config
config/secrets/*.*

# mklove
Makefile.config
config.log*
config.cache
config.h

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# WAT-specific ignores
.test/
tests/results
script_templates/

# Mono-specific ignores
.mono/
# data_*/

# Large files + build artifacts
bin/*
builds/osx/*.app
builds/godot.*
builds/osx/release.dmg
builds/linux/*.*
builds/server/*
godot*
!native/thirdparty/librdkafka/librdkafka.*
templates*
headless.tmp
librdkafka.gdns
librdkafka.prod.gdns
librdkafka.prod.tres
*/**/librdkafka.so.1
librdkafka.so.1

*.o
*.os
*.so
*.dylib
*.import
*.dblite
*.dll
*.exp
*.lib
*.obj
native/logs
*.idb
*.pdb

.vscode

tmp/
