# kafka config
config/kafka.config
config/secrets/*.*

# mklove
Makefile.config
config.log*
config.cache
config.h

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# WAT-specific ignores
.test/
tests/results
script_templates/

# Mono-specific ignores
.mono/
# data_*/

bin/*
build/*
builds/godot.*
builds/osx/release.dmg
godot*

*.o
*.os
*.so
*.dylib
*.import
*.dblite
*.dll
*.exp
*.lib
*.obj
native/logs
*.idb
*.pdb

.vscode

tmp/
